<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">panel box title</h3>
    <ul class="uk-nav uk-nav-sub">nav-sub</ul>
    <ul class="uk-nav uk-nav-sub">nav-sub
      <li class="uk-active"><a href="">Alpha</a></li>
      <li class=""><a href="">Beta</a></li>
      <li class=""><a href="">Gamma</a></li>
    </ul>
</div>
